<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-select label="Works good (default)" placeholder="Favorite Fruit">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Works good (fixed)" label-placement="fixed" placeholder="Favorite fruit">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Works good (stacked)" label-placement="stacked">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-select label="Works good (Floating)" label-placement="floating">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>


  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="action-sheet" placeholder="Works good">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Not working properly">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
        <ion-select-option value="bananas">Mangos</ion-select-option>
        <ion-select-option value="bananas">Aguacado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Not working properly" [interfaceOptions]="{size: 'cover', component: null}">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
        <ion-select-option value="bananas">Mangos</ion-select-option>
        <ion-select-option value="bananas">Aguacado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />

  <ion-list>
    <ion-item>
      <ion-select aria-label="Fruit" interface="popover" placeholder="Not working properly" [interfaceOptions]="{size: 'cover', component: null}">
        <ion-select-option value="apples">Apples</ion-select-option>
        <ion-select-option value="oranges">Oranges</ion-select-option>
        <ion-select-option value="bananas">Bananas</ion-select-option>
        <ion-select-option value="bananas">Mangos</ion-select-option>
        <ion-select-option value="bananas">Aguacado</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
